{% extends 'base.html' %} <!--继承base.html，他有啥的这里面也有，他没有的，这里面还有-->
{% block title %}
    Commit Page
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/node_modules/editor.md/css/editormd.min.css') }}" />
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <div id="btnCommit">
        <button class="btns" onclick="commit()">Commit</button>
    </div>
    <div id="editor">
    </div>

    <script src="{{ url_for('static', filename='/node_modules/editor.md/editormd.min.js') }}"></script>
    <script>
        var editor = editormd("editor", {
            width: "100%",
            autoHeight: true,
            emoji: true,
            markdown: `{{ content | safe }}`,     // dynamic set Markdown text
            path: "{{ url_for('static', filename='/node_modules/editor.md/lib/') }}"  // Autoload modules mode, codemirror, marked... dependents libs path
        });

        const title_old = "{{ title }}";
        let title;

        function commit() {
            swal({
                title: "Type your title",
                content: {
                    element: "input",
                    attributes: {
                    placeholder: title_old,
                    type: "text",
                    },
                },
            }).then((inputValue) => {
                if (inputValue === false) return false;
                if (inputValue !== "") {
                    title = inputValue;
                } else {
                    title = title_old;
                }
                const data = {content: editor.getMarkdown(), title: title_old};
                let url = '/commit/' + title;
                {% if 'edit' == URL %}
                    url = '/edit/' + title;
                {% endif %}
                $.post({
                    url: url, data: data, success: (rel) => {
                        if (rel == "success") {
                                swal("Nice!", "You diary: " + title, "success").then(() => { window.location.href = '/' });
                        } else {

                            swal('404 Not Found', 'Fail To Commit!!!', 'error');
                        }
                    }
                })
            })
        }
    </script>
    <style>
        #div1 {
            color: black;
        }
        #btnCommit {
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .btns {
            margin: 5px;
            background-color: black;
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            text-align: center;
        }
    </style>
{% endblock %}